<!DOCTYPE html>
<html>
<head>
    <title>Visualization</title>
</head>
<body>
    <h1>Visualization</h1>
    {{ plot_div | safe }}
    <br>

    <h2>Provide Feedback</h2>
    <form action="/send_feedback" method="POST">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" name="name" id="name" required></td>
            </tr>
            <tr>
                <td><label for="comment">Comment:</label></td>
                <td><textarea name="comment" id="comment"></textarea></td>
            </tr>
            <tr>
                <td><label for="favorite">Favorite:</label></td>
                <td><input type="checkbox" name="favorite" id="favorite"></td>
            </tr>
        </table>
        <input type="submit" value="Submit Feedback">
    </form>
    
</body>
</html>